<div id="header">
	<% if session[:user_id] != nil %> <%= link_to "Home", showuser_path(session[:user_id]), {:class => "mglink"} %> <% else %> <%= link_to "Home", signin_path, {:class => "mglink"} %> <% end %>  <%= link_to "Sign Out", signout_path, {:class => "mglink"} %>
</div>